@using WebStore.Models.EmailModels
@model ConfirmEmailViewModel

@{
	ViewData["Title"] = "Подтверждение Email";
}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css"> <!-- Подключение CSS файла -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/js/timer.js"></script> <!-- Подключение JavaScript файла -->
</head>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-5">
			<div class="card shadow">
				<div class="card-header bg-primary text-white text-center">
					<h4>Подтверждение Email</h4>
				</div>
				<div class="card-body">
					@if (ViewBag.ConfirmationSuccess == true)
					{
						<div class="alert alert-success text-center" role="alert">
							Ваш email успешно подтвержден!
						</div>

						<script>
							setTimeout(function () {
								window.location.href = "@Url.Action("Manage", "Account")";
							}, 3000);
						</script>
					}
					else
					{
						<p class="text-center">Пожалуйста, введите 6-значный код подтверждения, отправленный на ваш email:</p>

						<form asp-action="ConfirmEmail" method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							@Html.AntiForgeryToken()
							<div class="mt-3 text-left">
							</div>


							<div class="mb-3">
								<input asp-for="Code" class="form-control" required maxlength="6" placeholder="Введите код..." />
								<span asp-validation-for="Code" class="text-danger"></span>
							</div>
		
							<div class="d-grid gap-2">
								<button type="submit" class="btn btn-primary">Подтвердить</button>
							</div>

							<div class="mt-3 text-center">
								<a href="" class="btn btn-link">Не получили код? Отправить снова</a>
							</div>

						</form>
					}
				</div>
			</div>
		</div>
	</div>
</div>
