@model IEnumerable<VVM.Models.Drinks>

<!DOCTYPE html>
<html>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <p>
        <div id="cardsContainer">
            @await Html.PartialAsync("Cards", Model)
        </div>
    </p>
 
    <p>
        <div>
            @await Html.PartialAsync("Buttons", Model)
        </div>
    </p>
    
    <p>
        <div style="border-width: thin; width: 100%; position: absolute; top: 70px; left: -10px; text-align: right;">
            <img src="https://cdn-icons-png.flaticon.com/512/5951/5951686.png" width="32" height="32"> <b id="balance"></b>
        </div>
    </p>
</body>
</html>