@model IEnumerable<VVM.Models.Drinks>

<!DOCTYPE html>
<html>
<body>

    <p>
        <div id="cardsContainer">
            @await Html.PartialAsync("Cards", Model)
        </div>
    </p>
 
    <p>
        <div>
            @await Html.PartialAsync("Buttons", Model)
        </div>
    </p>
    
    <p>
        <div style="border-width: thin; width: 100%; position: absolute; top: 70px; left: -10px; text-align: right;">
            <img src="~/Resource/free-icon-ruble.png" width="32" height="32" title="Баланс"> <b id="balance" title="Баланс"></b><br><br>
            <b>Остаток:</b> <b id="restMoney" title="Остаток"></b>
        </div>
    </p>
</body>
</html>